body
{
    background-color: #222222 !important;
    color: #cccccc !important;
}
#frontpage-course-list > div > div:nth-child(1) > div:nth-child(1)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(1) > div:nth-child(2)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(1) > div:nth-child(3)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(2) > div:nth-child(1)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(2) > div:nth-child(2)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(2) > div:nth-child(3)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(3) > div:nth-child(1)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(3) > div:nth-child(2)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(3) > div:nth-child(3)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(4) > div:nth-child(1)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(4) > div:nth-child(2)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(4) > div:nth-child(3)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(5) > div:nth-child(1)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(5) > div:nth-child(2)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(5) > div:nth-child(3)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(6) > div:nth-child(1)
{
    background-color: #333333 !important;
}
#frontpage-course-list > div > div:nth-child(6) > div:nth-child(2)
{
    background-color: #333333 !important;
}
a:link, a:visited, .tabtree .tabrow0 li a, .dropdown-menu.usermen>li>a
{
    color: #cccccc !important;
}
h2
{
    color: #cccccc !important;
}
p
{
    color: #cccccc !important;
}
.content
{
    color: #cccccc !important;
    border-radius: 20px !important;
}
.weekend
{
    color: #ffaaaa !important;
}
#page-footer
{
    background-color: #333333 !important;
}
#page-header-wrapper
{
    background-image: none !important;
    background-color: #333333 !important;
}
#navwrap
{
    background-color: #333333 !important;
    border-bottom: none !important;
}
.bg-white
{
    background-color: #424242 !important;
}
#above-header
{
    border-bottom: none !important;
    background-color: #424242 !important;
}